<nav id="bottomNav"
     class="bottom-nav"
     data-controller="navbar"
     data-action="scroll@window->navbar#onScroll">
  <%= link_to root_path, class: "nav-item" do %>
    <span>📺</span>
    Programme
  <% end %>

  <%= link_to resultats_path, class: "nav-item" do %>
    <span>🏁</span>
    Résultats
  <% end %>

  <%= link_to competitions_path, class: "nav-item" do %>
    <span>🏆</span>
    <p>Ligues</p>
  <% end %>

  <%= link_to "/equipes", class: "nav-item" do %>
    <span>⚽</span>
    Équipes
  <% end %>

  <%= link_to "/classement", class: "nav-item" do %>
    <span>📊</span>
    Classement
  <% end %>
</nav>
